# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# AI tools
CLAUDE.md
.claude
.cursor/
.aider*

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*~